---
import '../styles/global.css';
import Footer from '../components/Footer.astro';

const pageTitle = "About Me";

const identity = {
    firstName: "Isra",
    country: "Sori",
    occupation: "Desarrollador Web",
    hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "navy";
const textCase = "uppercase"
const fontWeight = "bold"
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <h1>{pageTitle}</h1>
        <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quos!
        </h2>
        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>
                I live in {identity.country} and I work as a {
                    identity.occupation}.
            </li>
            {
                identity.hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are: {identity.hobbies[0]} and{" "}
                        {identity.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        <Footer />
    </body>
</html>

<style define:vars={{skillColor, fontWeight, textCase}}>
    h1{
        color: royalblue;
        font-size: 4em;
    }
    .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
    }
</style>
